<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azure400functionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/122435b8-1ef8-4a90-aa4c-43444d58ac61/resourceGroups/azure400/providers/Microsoft.Web/sites/azure400FunctionApp</ResourceId>
    <UserName>$azure400FunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azure400functionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>