@page
@model PSAZDemo1.NetCoreWebApplication.Pages.MediaDetail

@{
    ViewData["Title"] = "Media Detail page";
}

<h2>@Model.ImageUploadDetail.ImageFileName</h2>

<img src="@Model.ImageUploadDetail.Url" alt="@Model.ImageUploadDetail.ImageFileName" />