@page
@model PSAZDemo1.NetCoreWebApplication.Pages.EmployeeModel

@{
    ViewData["Title"] = "Employee page";
}

<form method="post">
        <table>
            <tr>
                <td>Name: </td>
                <td><input type="text" id="txtFirstName" name="Name"/></td>
            </tr>
            <tr>
                <td>Joining Date: </td>
                <td><input type="text" id="txtLastName" name="JoiningDate"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" asp-page-handler="Submit"/></td>
            </tr>
        </table>
        <hr/>
    </form>

<table border="1" style='border-collapse:collapse'  cellpadding="2" cellspacing="2">
    <tr style="outline: thin solid">
        <th style="outline: thin solid">Id</th>
        <th style="outline: thin solid">Name</th>
        <th style="outline: thin solid">JoiningDate</th>
    </tr> 
 @foreach (var employee in @Model.Employees)
{
    <tr style="outline: thin solid">
        <td style="outline: thin solid">@employee.Id</td>
        <td style="outline: thin solid">@employee.Name</td>
        <td style="outline: thin solid">@employee.JoiningDate</td>
    </tr>  
    }
</table>

