@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">List of Products on SYS - 2</h1>
    <table>
        <thead>
            <th>Product ID</th>
             <th>Product Name</th>
              <th>Quantity</th>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <th>@product.ID</th>
                    <td>@product.Name</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>
